<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h2>welcome our page</h2></header>
    {% block section %}
    <section>
        <article><table border="2">
            <tr>
                <td>Lorem.</td>
                <td>Tenetur.</td>
                <td>Unde?</td>
                <td>Mollitia.</td>
                <td>Officiis!</td>
                <td>Quaerat.</td>
            </tr>
            <tr>
                <td>Lorem.</td>
                <td>Eaque.</td>
                <td>Exercitationem.</td>
                <td>Doloremque.</td>
                <td>Est.</td>
                <td>Eos!</td>
            </tr>
            <tr>
                <td>Lorem.</td>
                <td>Recusandae.</td>
                <td>Alias?</td>
                <td>Rerum?</td>
                <td>Nostrum?</td>
                <td>Consequuntur.</td>
            </tr>
            <tr>
                <td>Lorem.</td>
                <td>Voluptatibus.</td>
                <td>Ullam?</td>
                <td>Iusto!</td>
                <td>Nihil.</td>
                <td>Maiores!</td>
            </tr>
            <tr>
                <td>Lorem.</td>
                <td>Porro?</td>
                <td>Error!</td>
                <td>Natus!</td>
                <td>Blanditiis!</td>
                <td>Nisi.</td>
            </tr>
        </table></article>
    </section>
    {% endblock %}
    <footer>
        <h3>this about the new generation people are comming</h3>
    </footer>
</body>
</html>