{% extends 'behara_parent.html' %}
{% block section %}
<section>
    <table border="2">
        <tr>
            <td>Lorem.</td>
            <td>Eos?</td>
            <td>Iure?</td>
            <td>Dolor!</td>
            <td>Excepturi!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Accusantium.</td>
            <td>Nemo.</td>
            <td>Soluta?</td>
            <td>Suscipit.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Nobis!</td>
            <td>Recusandae!</td>
            <td>Voluptate?</td>
            <td>Porro?</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Porro.</td>
            <td>Quis.</td>
            <td>Deleniti!</td>
            <td>Dolorum!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Itaque?</td>
            <td>Ab?</td>
            <td>Iusto!</td>
            <td>Adipisci!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Consectetur.</td>
            <td>Esse!</td>
            <td>Dolorum.</td>
            <td>Excepturi.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Expedita.</td>
            <td>Iste?</td>
            <td>Cum.</td>
            <td>Voluptatibus!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Corporis!</td>
            <td>Impedit?</td>
            <td>Praesentium?</td>
            <td>Eveniet?</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Odio?</td>
            <td>Fugit?</td>
            <td>Inventore.</td>
            <td>Delectus!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Sed.</td>
            <td>Quo?</td>
            <td>Minus.</td>
            <td>Ab.</td>
        </tr>
    </table>
</section>
{% endblock%}