<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>Lorem.</th>
            <th>Nihil.</th>
            <th>Doloremque.</th>
            <th>Provident!</th>
            <th>Numquam!</th>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Totam?</td>
            <td>Soluta.</td>
            <td>Quia!</td>
            <td>Nulla.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Veritatis.</td>
            <td>Expedita!</td>
            <td>Veritatis?</td>
            <td>Nam.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Maxime.</td>
            <td>Consequatur!</td>
            <td>Ratione.</td>
            <td>Rerum.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Eligendi.</td>
            <td>Ut?</td>
            <td>Quibusdam!</td>
            <td>Dolor.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Vel.</td>
            <td>Perferendis.</td>
            <td>Ratione.</td>
            <td>Quisquam.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Animi?</td>
            <td>Assumenda?</td>
            <td>Nisi.</td>
            <td>Facilis.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Odit!</td>
            <td>Quibusdam.</td>
            <td>Quisquam?</td>
            <td>Nesciunt.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Excepturi?</td>
            <td>Nam.</td>
            <td>Deleniti.</td>
            <td>Illo.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Explicabo?</td>
            <td>Facere.</td>
            <td>Minima?</td>
            <td>Saepe!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Cumque.</td>
            <td>Rem.</td>
            <td>Officiis!</td>
            <td>Omnis.</td>
        </tr>
    </table>
</body>
</html>