{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/mark.css' %}" type="text/css">
</head>
<body>
    <h1>welcome to django world</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, exercitationem.</p>
    <table>
        <tr>
            <th>Lorem.</th>
            <th>Amet?</th>
            <th>Corporis?</th>
            <th>Sequi!</th>
            <th>Neque?</th>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Mollitia.</td>
            <td>Minima?</td>
            <td>Inventore.</td>
            <td>Blanditiis.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Ad?</td>
            <td>Voluptates.</td>
            <td>Quisquam.</td>
            <td>Labore.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Libero.</td>
            <td>Veniam.</td>
            <td>Qui!</td>
            <td>Asperiores.</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Consequatur.</td>
            <td>Dignissimos!</td>
            <td>Debitis.</td>
            <td>Iure!</td>
        </tr>
        <tr>
            <td>Lorem.</td>
            <td>Tempore.</td>
            <td>Quidem.</td>
            <td>Iusto!</td>
            <td>Dolore!</td>
        </tr>
    </table>
    <img src="{%static 'images/RAMYA.jpeg' %}" alt="no image">
</body>
</html>